.py[cod]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
http_cert.crt
.env
.env.*
*.sqlite3
*.db
.DS_Store
.vscode/
.idea/
*.log
*.egg-info/
dist/
build/
node_modules/
*.ipynb_checkpoints
*.bak
*.swp
*.swo
*.orig
*.tmp
*.cache
coverage.*
htmlcov/
*.pkl
*.h5
*.ckpt
*.pth
*.pt
*.tar.gz
*.zip
*.tar
*.egg
*.wheel
*.coverage
*.tox/
*.crt